@import "../../_config.scss";

:host {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.caption {
  background: $itemHover;
  color: #000000;
  overflow: hidden;
  padding: 32px;
}

.responsive-tabs {
  display: none;
}

.page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fixtures {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 50%;
  .head {
    background: #e5e5e5;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    .title {
      padding: 16px;
    }
    .next, .prev {
      background: #dedede;
      cursor: pointer;
      padding: 16px;
      user-select: none;
      &:hover {
        background: $linkHover;
        color: #ffffff;
      }
    }
  }
  .lines {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .fixture {
      flex-grow: 1;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  width: 50%;
  .head {
    background: #cbcbcb;
    flex-shrink: 0;
    padding: 16px;
    text-align: center;
  }
  .standings {
    flex-grow: 1;
  }
}

@media (max-width: $tabletWidth) {
  .caption {
    height: $responsiveHeadHeight;
    font-size: 1.4rem;
    line-height: $responsiveHeadHeight;
    padding: 0 16px 0 $responsiveHeadHeight + 16px;
  }
  .responsive-tabs {
    display: flex;
    flex-direction: row;
    .tab {
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      padding: 16px;
      width: 50%;
    }
    .tab.-active {
      background: #eeeeee;
    }
  }
  .page {
    flex-direction: column;
    /** @todo do it better */
    > .-active {
      display: flex;
    }
  }
  .fixtures, .table {
    display: none;
    flex-grow: 1;
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .caption {
    height: $responsiveHeadXsHeight;
    font-size: 1rem;
    line-height: $responsiveHeadXsHeight;
    padding: 0 16px 0 $responsiveHeadXsHeight + 16px;
  }
  .responsive-tabs .tab {
    padding: 8px;
  }
  .fixtures .head {
    .title, .next, .prev {
      padding: 8px;
    }
  }
  .table .head {
    padding: 8px;
  }
}