<div class="head">
  <div class="position">#</div>
  <div class="name"></div>
  <div class="stat">Played</div>
  <div class="stat -wins">Wins</div>
  <div class="stat -draws">Draws</div>
  <div class="stat -losses">Losses</div>
  <div class="stat">GD</div>
  <div class="points">Points</div>
</div>
<div
    *ngFor="let row of table" class="row"
    [class.-highlight]="isHighlighted(row.teamName)"
    (mouseenter)="rowEnter(row.teamName)"
    (mouseleave)="rowLeave()"
>
  <div class="position">{{ row.position }}</div>
  <div class="name">{{ row.teamName }}</div>
  <div class="stat">{{ row.playedGames }}</div>
  <div class="stat -wins">{{ row.wins }}</div>
  <div class="stat -draws">{{ row.draws }}</div>
  <div class="stat -losses">{{ row.losses }}</div>
  <div class="stat">{{ row.goalDifference > 0 ? '+' + row.goalDifference : row.goalDifference }}</div>
  <div class="points">{{ row.points }}</div>
</div>